h1{
    text-align: left;
    color: purple;
}

h5{
    text-align:center;
    color: black;
}

.text{
    text-align: justify;
}

img{
    float: left;
    margin: 10px;
}

footer{
    background-color: #ffc99e;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 40px;
}